.cv-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border: none;
  background: transparent;
  padding: 0;

  flex-shrink: 0;
}

.preview-container {
  box-sizing: border-box;

  border: 0.5px solid var(--border-color);
  background-color: white;
  color: black;

  padding: 2rem;
  width: 794px;
  min-height: 1123px;
}

.cv-name {
  text-align: center;
}

.icon {
  width: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.cv-contact-info {
  margin-top: 24px;
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}

.print-btn {
  font-family: var(--calibri);
  font-size: 1rem;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  border: none;
}

.print-btn:hover {
  background-color: var(--bg-color);
  color: white;
  border: 1px solid var(--border-color);
}

.school-item {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  margin-bottom: 1rem;
}

.education-main-info {
  display: flex;
  flex-direction: column;
}

.school-item-edit {
  border: 1px solid var(--border-color);
  padding: 1rem;
}

.main-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.edit-btn-wrapper {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.edit-btn-wrapper button {
  background-color: var(--bg-color);
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.edit-btn-wrapper button:hover {
  text-decoration: underline;
}

.bold-text {
  font-weight: bold;
}
